/*address additional styles here*/

#Symbol, #symbol, #Quantity, #Price {
    width: 150px;
    margin: 0 0 1rem 0;
}

#quoteListing {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.font-1-5 {
    font-size: 1.5rem;
}