@page "/"

<PageTitle>Index</PageTitle>

<img src="blazorStockLogo.png" style="width:200px;"/>

@*<div style="display:flex; justify-content:center; margin-bottom:0;">
<MudAvatar Color="Color.Info" Variant="MudBlazor.Variant.Outlined">B</MudAvatar>
<MudAvatar Color="Color.Success" Variant="MudBlazor.Variant.Outlined">L</MudAvatar>
<MudAvatar Color="Color.Warning" Variant="MudBlazor.Variant.Outlined">A</MudAvatar>
<MudAvatar Color="Color.Primary" Variant="MudBlazor.Variant.Outlined">Z</MudAvatar>
<MudAvatar Color="Color.Secondary" Variant="MudBlazor.Variant.Outlined">O</MudAvatar>
<MudAvatar Color="Color.Tertiary" Variant="MudBlazor.Variant.Outlined">R</MudAvatar>
</div>
<div style="display:flex; justify-content:center;">
    <!--<span style="width:1rem;"></span>-->
<MudAvatar Color="Color.Info" Variant="MudBlazor.Variant.Outlined">S</MudAvatar>
<MudAvatar Color="Color.Success" Variant="MudBlazor.Variant.Outlined">T</MudAvatar>
<MudAvatar Color="Color.Warning" Variant="MudBlazor.Variant.Outlined">O</MudAvatar>
<MudAvatar Color="Color.Primary" Variant="MudBlazor.Variant.Outlined">C</MudAvatar>
<MudAvatar Color="Color.Secondary" Variant="MudBlazor.Variant.Outlined">K</MudAvatar>
</div>*@



<h1 class="mt-3">Home of The Blazing Stock Trader</h1>

<h3>Time to practice your stock trading skills.</h3>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@


